.card{
    max-width: 150px;   
    height: 200px;
    margin: 5px 10px;
    border-radius: 8px;
    background-color: white;  
    color: white;
    overflow: hidden;
    display: flex; 
    
  
}


@media (max-width: 650px){
    .card{
        max-width: 50px;   
        height: 100px;
        margin: 3px;

    }

}
