.header{
    background-color: white;
    border-radius: 8px;
    min-height: 100px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: 50px auto;   
}
h1{
   font-size: 50px;
}
