.backdrop{
    background-color:rgba(11, 11, 11, 0.9);    
    position: fixed;    
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-modal{
    background-color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   height: 500px;  
   width: 400px;
   height: 20vh;
}
