.backdrop{
    background-color:rgba(11, 11, 11, 0.9);    
    position: fixed;    
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-modal{  

   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow: hidden;    
   max-width: 600px;   
   height: 400px;
   margin: 20px;
   border-radius: 18px;   
   text-align: center;
  color: white;
  font-size: 20px
   
}


.message{
   padding: 20px;
}

.button{
    /* position: absolute; */
    width: 150px;
    height: 50px;
    border-radius: 8px;
    background-color: rgb(176, 176, 224);
    top: 60%;
}
